<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="allCss.css">
</head>
<body>
    <header class="header">
        <!-- App Navbar -->
         <div class="logo"><h2>MovieVerse</h2> <button id="themeBtn">Toggle Theme</button></div>
         <div class="themeToggle">
                
            </div>
         <nav class="navBar">
            <ul class="navLinks">
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Series</a></li>
                <li><a href="#">About</a></li> 
                <li><a href="#">SignUp</a></li> 
            </ul>
         </nav>
          
    </header>

    <script src="reUse.js"></script>
</body>
</html>